<?xml version="1.0" ?>
<framework>
    <!-- set to 1 to send debug info to logFile -->
    <debug>1</debug>
    <vpopmaildHost>home.shupp.org</vpopmaildHost>
    <vpopmaildPort>89</vpopmaildPort>
    <!-- inactivity timeout - in seconds -->
    <inactiveTimeout>300</inactiveTimeout>
    <mcryptKey>My Secret Key</mcryptKey>
    <maxPerPage>10</maxPerPage>
    <autorespond>/usr/bin/autorespond</autorespond>
    <logFile>/tmp/framework.log</logFile>
    <user>
        <userClass>toasterAdmin</userClass>
        <userLocaleDir>Framework/Site/Default/locale</userLocaleDir>
    </user>
</framework>
