<?xml version="1.0" ?>
<framework>
    <vpopmaildHost>home.shupp.org</vpopmaildHost>
    <vpopmaildPort>89</vpopmaildPort>
    <mcryptKey>My Secret Key</mcryptKey>
    <maxPerPage>10</maxPerPage>
    <logFile>/tmp/framework.log</logFile>
    <user>
        <userClass>vpopmail</userClass>
    </user>
</framework>
